@import '../../variables.css';

.mainHome {
  box-sizing: border-box;
  padding-top: var(--home-top-padding);
  text-align: center;
  background-image: url('/images/miscellaneous/home1.png');
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main {
  padding: 8em 1em 2em;
  box-sizing: border-box;
  text-align: center;
}

@media (--md) {
  .main {
    margin-left: var(--aside-width-md);
  }
}

@media (--lg) {
  .mainHome {
    background-image: url('/images/miscellaneous/home2.png');
  }

  .main {
    padding: 9em 5em 2em;
    margin-left: var(--aside-width-lg);
  }
}

@media (--xlg) {
  .main {
    padding: 9em 6em 2em;
    margin-left: var(--aside-width);
  }
}
