@import '../../variables.css';

.main,
.mainHome {
  padding: var(--top-padding-mobile) 1em 2em;
  box-sizing: border-box;
  text-align: center;
}

.mainHome {
  background-image: url('/images/miscellaneous/home-portrait.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (--sm) {
  .main,
  .mainHome {
    padding: var(--top-padding-mobile) 5em 2em;
  }
}

@media (--md) {
  .main {
    margin-left: var(--aside-width-md);
    padding: var(--top-padding) 5em 2em;
  }

  .mainHome {
    padding: var(--top-padding) 3em 2em;
  }
}

@media (--lg) {
  .mainHome {
    background-image: url('/images/miscellaneous/home-landscape.jpg');
  }
}

@media (--xlg) {
  .mainHome,
  .main {
    padding: var(--top-padding) 6em 2em;
  }

  .main {
    margin-left: var(--aside-width);
  }
}
