@import '../../components/variables.css';

.title {
  margin: 0;
  color: var(--color-medium);
}

.homeContent {
  padding-top: 3em;
  font-variant: none;
  color: var(--color-medium);
}

@media (--md) {
  .homeContainer {
    margin-left: var(--aside-width-md);
  }
}

@media (--lg) {
  .homeContainer {
    margin-left: var(--aside-width-lg);
  }
}

@media (--xlg) {
  .homeContainer {
    margin-left: var(--aside-width);
  }
}
