@import '../../components/variables.css';

.title {
  margin: 0;
}

.homeContent {
  font-variant: none;
  display: inline-block;
  vertical-align: bottom;
}

@media (--md) {
  .homeContainer {
    margin-left: var(--aside-width-md);
  }
}

@media (--lg) {
  .homeContainer {
    margin-left: var(--aside-width-lg);
  }
}

@media (--xlg) {
  .homeContainer {
    margin-left: var(--aside-width);
  }
}
