@import '../../components/variables.css';

.presentationContainer {
  padding: 1em 0 5em;
  font-variant: none;
  letter-spacing: 0.12em;
}

.title {
  display: none;
}

.image {
  max-width: 50%;
}

@media (--sm) {
  .image {
    max-width: 30%;
  }
}
