.updateDialogButton {
  margin: 40px 5% 10px;
  width: 40%;
  display: inline-block;
}

.updateTitle {
  padding-bottom: 20px;
}

.imagePreview {
  width: 30%;
  margin-bottom: 1em;
}

.DayInputContainer > div {
  width: 100%;
}
