@import '../../variables.css';

.addContainer {
  display: inline-block;
  width: available;
  padding: 1.5em;
  text-align: center;
}

.image {
  max-width: 15vw;
}

.fileLabel {
  display: block;
  margin-top: 20px;
  color: var(--link-color);
  font-size: var(--font-size-current-plus-plus);
  background: none;
  cursor: pointer;
  transition: color 0.4s;
}

.fileLabel:hover {
  color: var(--link-color-xdark);
}

.fileButton {
  display: none;
}

.imagePreview {
  width: 30%;
  margin-bottom: 1em;
}
