@import '../variables.css';

.nav {
  position: fixed;
  margin: 8em 0 0 4em;
  box-sizing: border-box;
  vertical-align: top;
  z-index: 0;
}

.container {
  height: 600px;
  background-image: linear-gradient(var(--color-xxlight), var(--color-xlight));
  color: #fff;
  padding: 2em 0 2em;
  width: 7px;
  text-align: center;
}

.link {
  float: left;
  padding: 1.5em;
  font-weight: 400;
  font-size: var(--font-size-nav);
}

.link:hover {
  border-left: 1px solid;
  letter-spacing: 0.4em;
}

.linkHome {
  vertical-align: bottom;
  display: inline-block;
  padding: 4em 2em 1.5em;
  transition: all 1.2s ease;
}

.linkHome:hover {
  transform: scale(1.2, 1.2);
  transition: all 1.2s ease;
}

.home {
  vertical-align: bottom;
}

/* Mobile nav adds */
.title {
  position: absolute;
  bottom: 1em;
  font-size: 0.7em;
  letter-spacing: 0.7em;
}

a:last-of-type {
  margin-top: 2em;
}

@media (--sm) {
  .link {
    transition: all 1.2s ease;
  }

  .link:hover {
    transform: scale(1.2, 0.9);
    transform-origin: left;
    transition: all 1.2s ease;
  }
}
