
.nav {
  position: fixed;
  margin: 2em 0 0 4em;
  box-sizing: border-box;
  vertical-align: top;
  z-index: 0;
}

.container {
  height: 530px;
  background: var(--header-color);
  color: #fff;
  padding: 9em 0 2em;
  width: 65px;
  text-align: center;
}

.link {
  float: left;
  padding: 1.5em;
  font-weight: 400;
  font-size: var(--font-size-nav);
  -moz-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.link:hover {
  border-left: 3px solid;
  letter-spacing: 0.4em;
  -ms-transform: scale(1.3, 0.9);
  -moz-transform: scale(1.3, 0.9);
  -webkit-transform: scale(1.3, 0.9);
  transform: scale(1.3, 0.9);
  -ms-transform-origin: left;
  -webkit-transform-origin: left;
  -moz-transform-origin: left;
  transform-origin: left;
  -moz-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.linkHome {
  vertical-align: bottom;
  display: inline-block;
  padding-top: 4em;
  -moz-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.linkHome:hover {
  -ms-transform: scale(1.1, 1.2);
  -moz-transform: scale(1.1, 1.2);
  -webkit-transform: scale(1.1, 1.2);
  transform: scale(1.1, 1.2);
  -moz-transition: all 1.2s ease;
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

.home {
  vertical-align: bottom;
}
