@import '../variables.css';

aside {
  position: fixed;
  width: var(--aside-width);
  height: 600px;
  padding: 8em 0 0 4em;
  box-sizing: border-box;
  vertical-align: top;
  z-index: 0;
}

.bar {
  display: inline-block;
  width: 7px;
  vertical-align: top;
  height: 100%;
  background-image: linear-gradient(var(--color-xxlight), var(--color-xlight));
  color: #fff;
  padding: 2em 0 2em;
  text-align: center;
}

nav {
  display: inline-block;
  vertical-align: top;
  width: 90%;
}

.link {
  float: left;
  width: 100%;
  padding: 1.5em;
  font-weight: 400;
  font-size: var(--font-size-nav);
}

.linkHome {
  float: left;
  width: 100%;
  padding: 4em 2em 1.5em;
}

/* Mobile nav adds */
.title {
  position: absolute;
  bottom: 1em;
  font-size: 0.7em;
  letter-spacing: 0.7em;
}

@media (--sm) {
  .link {
    transition: all 1.2s ease;
  }

  .link:hover,
  .link:active,
  .active {
    color: var(--link-color-xdark);
    border-left: 1px solid;
    letter-spacing: 0.4em;
    transform: scale(1.2, 0.9);
    transform-origin: left;
    transition: all 1.2s ease;
  }

  .active:hover {
    transform: scale(1.15);
  }

  .linkHome {
    transition: all 1.2s ease;
  }

  .linkHome:hover {
    color: var(--link-color-xdark);
    transform: scale(1.2, 1.1);
    transform-origin: left;
    transition: all 1.2s ease;
  }
}
