@import '../../components/variables.css';

.item {
  padding: 2rem 0 2rem;
}

.imageContainer {
  padding: 0;
  border: none;
  cursor: pointer;
}

.image {
  max-width: 100%;
  max-height: 60vh;
}

.spacer {
  padding: 0 15px;
}
