@import '../../components/variables.css';

.item {
  padding: 2rem 0 2rem;
}

.imageContainer {
  padding: 0;
  border: none;
  cursor: pointer;
}

.image {
  max-width: 100%;
  max-height: 60vh;
}

.spacer {
  padding: 0 15px;
}

.lightBoxImage {
  max-width: 85vw;
  max-height: 85vh;
}

.lightBoxText {
  padding: 0 50px 30px;
  text-align: left;
  font-variant: small-caps;
  letter-spacing: 1em;
  font-size: 1.2em;
}

.lightBoxText span {
  font-size: 0.7em;
}
