
/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 27px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #a86363;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #a86363;
}

/* General sidebar styles */
.bm-menu {
  background: #333;
  padding: 2.5em 1.5em 0;
  font-size: 15px;
}

/* Wrapper for item list */
.bm-item-list {
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  padding: 1em 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
