/* @custom-media --xs (width >= 480px);  phone */
@custom-media --sm (width >= 765px); /* ipad */
@custom-media --md (width >= 992px); /* ipad plus */
@custom-media --lg (width >= 1200px); /* 13' */
@custom-media --xlg (width >= 1600px);

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: Montserrat, Ubuntu, sans-serif;
  --font-weight: 100;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;
  --max-content-form: 25em;
  --aside-width-md: 28%;
  --aside-width-lg: 28%;
  --aside-width: 20%;
  --header-height-mobile: 70px;

  /*
   * Padding
   * ======================================================================== */

  --top-padding-mobile: 9em;
  --top-padding: 5em;

  /*
   * Colors
   * ======================================================================== */

  --color-xxlight: #fafafa;
  --color-xlight: #eee;
  --color-light: #ccc;
  --color-medium: #aaa;
  --color-dark: #777;
  --color-xdark: #555;
  --color-xxdark: #333;
  --link-color: #ab8b8b;
  --link-color-dark: #a86363;
  --link-color-xdark: #754b49;

  /*
   * Font size
   * ======================================================================== */
  --font-size-header-sm-mobile: 1.3em;
  --font-size-header-md-mobile: 1.8em;
  --font-size-header: 2em;
  --font-size-nav: 17px;
  --font-size-tab: 20px;
  --font-size-current-title: 15px;
  --font-size-current-plus-plus: 14px;
  --font-size-current-plus: 13px;
  --font-size-current: 12px;
  --font-size-minus: 11px;
}
