@custom-media --xs (width >= 480px);
@custom-media --sm (width >= 770px); /* = min-width: 770px */
@custom-media --md (width >= 992px);
@custom-media --lg (width >= 1200px);
@custom-media --xlg (width >= 1600px);

:root {
  /*
   * Typography
   * ======================================================================== */

  --font-family-base: Montserrat, Ubuntu, sans-serif;
  --font-weight: 100;

  /*
   * Layout
   * ======================================================================== */

  --max-content-width: 1000px;
  --max-content-form: 25em;
  --aside-width: 17%;
  --aside-width-md: 25%;

  /*
   * Media queries breakpoints
   * ======================================================================== */

  /* --screen-xs-min: 480px; Extra small screen / phone */

  --screen-sm-min: 770px; /* Small screen / tablet */
  --screen-md-min: 992px; /* Medium screen / desktop */
  --screen-lg-min: 1200px; /* Large screen / wide desktop */

  /*
   * Colors
   * ======================================================================== */

  --color-xxlight: #fafafa;
  --color-xlight: #eee;
  --color-light: #ccc;
  --color-medium: #aaa;
  --color-dark: #777;
  --color-xdark: #555;
  --color-xxdark: #333;
  --link-color: #ab8b8b;
  --link-color-dark: #a86363;
  --link-color-xdark: #754b49;
  --popup-background-ok: #9ed39c;

  /*
    * Font size
    * ======================================================================== */
  --font-size-title: 2em;
  --font-size-current: 0.9em;
  --font-size-nav-sm: 1em;
  --font-size-nav: 1.2em;
  --font-size-header-sm-mobile: 1.3em;
  --font-size-header-md-mobile: 1.8em;
  --font-size-mobile-title: 1.2em;
  --font-size-mobile: 0.6em;
  --font-size-number: 0.7em;
}
