@import '../variables.css';

aside {
  z-index: 1;
  background: var(--color-xxlight);
}

.container {
  padding: 1em 0;
  text-align: center;
}

@media (--sm) {
  .container {
    padding-left: 15em;
    max-width: var(--max-content-width);
    font-size: 1.5em; /* ~24px */
    margin: 0 auto;
  }
}

@media (--lg) {
  .container {
    padding-left: 20em;
  }
}

.nodejsLogo {
  max-height: 25px;
  padding: 0 0.5em;
}

.reactLogo,
.graphqlLogo,
.appleLogo {
  max-height: 18px;
  padding: 0 0.5em;
}

.appleLogo {
  padding-bottom: 4px;
}
