aside {
  z-index: 1;
  background: var(--color-xxlight);
}

.container {
  margin: 0 auto;
  padding: 20px 8px;
  max-width: var(--max-content-width);
  text-align: center;
  font-size: 1.5em; /* ~24px */
}

.nodejsLogo {
  max-height: 25px;
  padding: 0 0.5em;
}

.reactLogo,
.graphqlLogo,
.appleLogo {
  max-height: 18px;
  padding: 0 0.5em;
}

.appleLogo {
  padding-bottom: 4px;
}
