@import '../variables.css';

footer {
  background: var(--color-xxdark);
  color: var(--color-light);
}

.container {
  padding: 2em 0;
  text-align: center;
}

@media (--sm) {
  .container {
    margin: 0 auto;
    padding-left: 15em;
    max-width: var(--max-content-width);
  }
}

@media (--lg) {
  .container {
    padding-left: 20em;
  }
}

.text,
.link {
  padding: 2px 5px;
  font-size: 1em;
}

.link,
.loginLink {
  color: var(--link-color);
}

.link:hover {
  color: var(--color-light);
}
