@import '../variables.css';

footer {
  background: var(--color-xxlight);
}

.container {
  background: var(--color-xxdark);
  color: var(--color-light);
  padding: 1.5em 0;
  text-align: center;
}

.text,
.link {
  display: block;
  font-size: 1em;
}

.link {
  color: var(--link-color);
}

@media (--sm) {
  .container {
    padding-left: var(--aside-width);
  }

  .text,
  .link {
    display: inline;
    padding: 2px 5px;
  }

  .link:hover {
    color: var(--color-light);
  }
}
