.link {
  color: var(--link-color);
  padding: 2px 5px;
  font-size: 1em;
}

.loginLink {
  font-family: var(--font-family-base) !important;
  color: var(--link-color);
  padding: 2px 5px;
  font-size: 1em;
  display: inline;
  margin: 0;
  background: none;
  border: none;
  width: inherit;
  line-height: inherit;
  cursor: pointer;
  transition: color 0.4s;
}

.link:hover,
.loginLink:hover,
.loginLink:focus {
  color: var(--color-light);
}
