.link {
  color: var(--link-color);
  padding: 2px 5px;
  font-size: 1em;
}

.loginLink {
  color: var(--link-color);
  padding: 2px 5px;
  font-size: 1em;
  font-weight: 100;
  display: inline-block;
  background: none;
  border: none;
  width: inherit;
  line-height: inherit;
  cursor: pointer;
}

.link:hover,
.loginLink:hover {
  color: var(--color-light);
}
