@import '../../variables.css';

.itemContainer {
  padding-bottom: 2em;
}

.itemTitle {
  font-size: var(--font-size-mobile-title);
  margin: 0 0 0.1em;
}

.description {
  font-size: var(--font-size-mobile);
}

.noWrap {
  white-space: pre;
}

@media (--md) {
  .description {
    font-size: var(--font-size-current-sm);
  }

  .spacer {
    padding: 0 15px;
  }
}

/* Images layout */

.imageButton,
.sculptureButton {
  padding: 0.2em;
  background-color: unset;
  border: none;
  cursor: pointer;
  margin: 0 auto;
}

.image {
  max-width: 100%;
  max-height: 45vh;
}

@media (--xs) {
  .itemContainer {
    padding-bottom: 2.5em;
  }

  .image {
    max-width: 70%;
    max-height: 60vh;
  }

  .sculptureButton {
    display: inline-block;
    max-width: 50%;
  }

  .sculptureButton .image {
    max-width: 100%;
    max-height: 35vh;
  }
}

@media (--md) {
  .itemContainer {
    padding-bottom: 4em;
  }

  .image {
    max-height: 45vh;
  }

  .sculptureButton .image {
    max-height: 25vh;
  }
}

@media (--lg) {
  .image {
    max-width: 33vw;
    max-height: 50vh;
  }

  .sculptureButton .image {
    max-height: 50vh;
  }
}

@media (--xlg) {
  .image,
  .sculptureButton .image {
    max-width: 25vw;
    max-height: 45vh;
  }
}
