@import '../../variables.css';

.itemContainer {
  padding-bottom: 2em;
  font-variant: small-caps;
}

.itemTitle {
  font-size: var(--font-size-current-title);
  margin: 0 0 0.1em;
}

.noWrap {
  display: block;
}

.spacer {
  display: none;
}

@media (--sm) {
  .noWrap {
    display: inline;
    white-space: pre;
  }

  .spacer {
    display: inline;
    padding: 0 15px;
  }
}

@media (--xs) {
  .itemContainer {
    padding-bottom: 2.5em;
  }
}

@media (--md) {
  .itemContainer {
    padding-bottom: 4em;
  }
}
