@import '../../variables.css';

footer {
  background: var(--color-xxlight);
  font-variant: small-caps;
}

.container {
  background: var(--color-xxdark);
  color: var(--color-light);
  padding: 1.5em 0;
  text-align: center;
}

.text {
  display: block;
  font-size: var(--font-size-minus);
}

.link {
  display: block;
  color: var(--link-color);
  font-size: var(--font-size-current-plus-plus);
  padding: 0.4em 0;
}

@media (--sm) {
  .text,
  .link {
    display: inline;
    padding: 2px 5px;
  }

  .link:hover {
    color: var(--color-light);
  }
}

@media (--md) {
  .container {
    padding-left: var(--aside-width-md);
  }
}

@media (--lg) {
  .container {
    padding-left: var(--aside-width-lg);
  }
}

@media (--xlg) {
  .container {
    padding-left: var(--aside-width);
  }
}
